* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    position: relative;
    background-image: url(./img/jake-hills-z0gDv24X3uQ-unsplash.jpg);
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar .logo{
    float: left;
}
.navbar .ul-items{
    float: right;
}
.navbar::after{
    content: '';
    display: block;
    clear: both;
}
.navbar .logo{
    color: #fff;
    margin-left: 2rem;
}
li{
    list-style: none;
    margin: 5px;
}
ul{
    display: flex;
    margin-right: 2rem;
}

a{
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}

a:hover{
    border-bottom: 2px solid orangered;
    padding-bottom: 2.5px;
    color: aliceblue;
    font-weight: 600;
}

.navbar{
    padding-bottom: 2px;
}

select{
    background-color: #fff;
    margin-left: 20px;
    cursor: pointer;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.container1{
    max-width: 820px;
    width: 90%;
    margin: 0 auto;
}

.container2{
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
}

.main-txt{
    color: #fff;
}

.btn{
    color: red;
    background-color: #fff;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid red;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
}

.header-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -38%);
    padding: 20px;
    text-align: center;
}
/* ###################  Description ##################### */

.brandtxt{
    margin: 4em 0px;
}
.brand-heading{
    text-align: center;
    font-size: xx-large;
    font-weight: 400;
    color: gray;
}
.brand-para{
    margin-top: 2em;
    color: gray;
    /* font-size: x-large; */
}

.brand1{
    background-color: rgba(211, 211, 211, 0.39);
    margin-bottom: 20px;
}
.brand1 .brand1-txt{
    padding: 4em 0;
}
.brand1-heading{
    text-align: center;
    font-size: xx-large;
    font-weight: 400;
    color: gray;
}
.brand1-para{
    margin-top: 2em;
    color: gray;
}
img{
    background: #D6D6D1;
    height: 200px;
    width: 350px;
}
.sub-img{
    display: flex;
    margin: 0px 10rem;
    align-items: center;
}
.img1{
    /* margin-right: -50px; */
    margin-right: 10px;
}
.img2{
    /* margin-right: -50px; */
    margin-right: 10px;
}
.name-img{
    margin: 20px 0px;
}
.name-para{
    color: grey;
}
.name-img-para{
    font-weight: 200px;
    font-size: medium;
    color: grey;
}