* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    position: relative;
    background-image: url(./img/jake-hills-z0gDv24X3uQ-unsplash.jpg);
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar .logo{
    float: left;
}
.navbar .ul-items{
    float: right;
}
.navbar::after{
    content: '';
    display: block;
    clear: both;
}
.navbar .logo{
    color: #fff;
    margin-left: 2rem;
}
/* .list-items{
    /* margin-right: 4px; 
    width: 50px;
} */
li{
    list-style: none;
    margin: 5px;
}
ul{
    display: flex;
    margin-right: 2rem;
}

.ul-items,.logo{
    padding: 1rem 0px;
}

a{
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}

a:hover{
    border-bottom: 2px solid orangered;
    padding-bottom: 2.5px;
    color: aliceblue;
}

.navbar{
    padding-bottom: 2px;
}

select{
    background-color: transparent;
    margin-left: 20px;
    cursor: pointer;
    border: none;
    outline: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.container1{
    max-width: 620px;
    width: 90%;
    margin: 0 auto;
}

.container2{
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
}

.main-txt{
    color: #fff;
}

.btn{
    color: #fff;
    background-color: red;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid red;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    margin-top: 8px;
}
.btn:hover{
    font-size: 1.005rem;
}
.header-txt{
    position: absolute;
    top: 40%;
    left: 24%;
    /* transform: translate(-40%, -38%); */
    padding: 20px;
    text-align: center;
}
/* ###################  Description ##################### */

.brandtxt{
    margin: 4em 0px;
}
.brand-heading{
    text-align: center;
    font-size: xx-large;
    font-weight: 400;
    color: gray;
}
.brand-para{
    margin-top: 2em;
    color: gray;
    /* font-size: x-large; */
}

.brand1{
    background-color: rgba(211, 211, 211, 0.39);
    padding-bottom: 4rem;
    /* border: 2px solid red; */
}
.brand1 .brand1-txt{
    padding: 4em 0;
}
.brand1-heading{
    text-align: center;
    font-size: xx-large;
    font-weight: 400;
    color: gray;
}
.brand1-para{
    margin-top: 2em;
    color: gray;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image1, .image2, .image3{
    height: 250px;
    background-color: #D6D6D1;
}

.sub-img{
    display: flex;
    margin: 0px 10rem;
    align-items: center;
}
.img1{
    /* margin-right: -50px; */
    margin-right: 10px;
}
.img2{
    /* margin-right: -50px; */
    margin-right: 10px;
}
.name-img{
    margin: 20px 0px;
}
.name-para{
    color: grey;
}
.name-img-para{
    font-weight: 200px;
    font-size: medium;
    color: grey;
}
.name-img-para{
    margin-top: 10px;
}

.extra-btn{
    /* border:2px solid black; */
    background: deeppink;
    padding: 3rem 10rem;
    /* display: inline; */
}
.extra-btn-para{
    color: aliceblue;
    display: inline;
}
.extra-btn-btn{
    margin: 0px 2rem;
    background-color: #eb16bd;;
    padding: 10px 20px;
    border-radius: 5rem;
    font-size: medium;
    border: none;
    cursor: pointer;
}
.footer{
    margin: 5rem;
}
.footer-main{
    display: flex;
    /* margin: 0px 2rem; */
}
.footer-txt{
    margin: 0px 10rem;
}
span{
    font-size: medium;
    color: navy;
}
i{
    font-size: xx-large;
    padding: 5px;
    font-weight: 200;
    cursor: pointer;
}
.last-div-footer{
    display: flex;
    justify-content: space-between;
}
.footer-foot1,.footer-foot{
    margin-top: 1rem;
    justify-content: space-around;
}
.footer-foot1{
    font-size: xx-large;
    font-weight: 200;
}
.footer-foot{
    font-weight: 200;
}
.footer-para{
    margin: 8px 0px;
    color: grey;
}
