*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background: url('jake-hills-z0gDv24X3uQ-unsplash.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header .navbar .logo{
    float: left;
}
.header .navbar .logo{
    font-size: 2rem;
    color: navajowhite;
}
.header .navbar .ul-items{
    float: right;
}
.list-items{
    display: inline;
}
.header .ul-items{
    margin-right: 5em;
}
.header .navbar .logo{
    margin-left: 5em;
}
.ul-items .list-items{
    margin: 5px;
    
}
a{
    color: #f0f8ff;
    text-decoration: none;
    padding-bottom: 2.5px;
}

.navbar a:hover{
    border-bottom: 2px solid aqua;
}
select{
    background: #fff;
}
/* ################# utility classes */
.container{
    max-width: 1200px;
    width: 90%;
    max-width: 0 auto;
} 